<a href="https://colab.research.google.com/github/muzammil-max/ML-and-DL-Journey/blob/main/Class01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

First Install Scklearn

In [4]:
!pip install -q scikit-learn

In [6]:
%tensorflow_version 2.x

Colab only includes TensorFlow 2.x; %tensorflow_version has no effect.

In [7]:
import numpy as np #Provides support for multi dimensional array like tensors and performing calculations (high level) that includes dot product , cross product , matrix operations
import pandas as pd #Used for Data manipulation and analysis.Used to load training dataset into model
import matplotlib.pyplot as plt # Visualization
from IPython.display import clear_output
from six.moves import urllib

import tensorflow.compat.v2.feature_column as tf
import tensorflow as tf

In [10]:
#loading data set (How many ppl survived in titanic incident)

dftrain = pd.read_csv('https://storage.googleapis.com/tf-datasets/titanic/train.csv') # training data
dfeval = pd.read_csv('https://storage.googleapis.com/tf-datasets/titanic/eval.csv') # testing data
print(dftrain.head()) #it shows us the first 5 data frames in our data set
y_train = dftrain.pop('survived')
y_eval = dfeval.pop('survived')

#now if we print the training dataset again we will see that survived columns is vanished this is because its pop in to y_train
print(dftrain.head())

   survived     sex   age  n_siblings_spouses  parch     fare  class     deck  \
0         0    male  22.0                   1      0   7.2500  Third  unknown
1         1  female  38.0                   1      0  71.2833  First        C
2         1  female  26.0                   0      0   7.9250  Third  unknown
3         1  female  35.0                   1      0  53.1000  First        C
4         0    male  28.0                   0      0   8.4583  Third  unknown

   embark_town alone
0  Southampton     n
1    Cherbourg     n
2  Southampton     y
3  Southampton     n
4   Queenstown     y
      sex   age  n_siblings_spouses  parch     fare  class     deck  \
0    male  22.0                   1      0   7.2500  Third  unknown
1  female  38.0                   1      0  71.2833  First        C
2  female  26.0                   0      0   7.9250  Third  unknown
3  female  35.0                   1      0  53.1000  First        C
4    male  28.0                   0      0   8.4583  Third  unknown

   embark_town alone
0  Southampton     n
1    Cherbourg     n
2  Southampton     y
3  Southampton     n
4   Queenstown     y